{% extends "./layout/index.njk" %}

{% block styles %}
  <link  rel="stylesheet" href="/public/css/bulma-carousel.min.css">
{% endblock %}

{% block content %}

  <div class="container">

    {% if data.error %}
      {% include "./partials/notifications/error.njk" %}
    {% endif %}
    {% if data.message %}
      {% include "./partials/notifications/message.njk" %}
    {% endif %}

    <h1 class="title is-1 has-text-centered">Car Rental Agency</h1>

    {% if data.cars|length > 1 %}
      <div id="carousel-cars" class="carousel">
        
        {% for car in data.cars %}

          <div class="item">
            <a href="/car/{{ car.id }}">
              <figure class="image is-16by9">
                <img src="/{{ car.imageUrl }}">  
              <figure>
            </a>
          </div>

        {% endfor %}

      </div>
    {% endif %}

  </div> 

{% endblock %}

{% block scripts %}
  <script src="/public/js/bulma-carousel.min.js" type="text/javascript"></script>
  <script src="/public/js/bulma-carousel-config.js" type="text/javascript"></script>
{% endblock %}